.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 391px;
}

.header__links-list-item {
  margin-right: 2px;
  padding-left: 5px;
  font-weight: normal;
  font-size: 18px;
  list-style: circle;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style: none;
}

.header__logo {
  display: block;
  min-width: 136px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.5px;
  text-underline-offset: 4px;
}

.header_address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1100px;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  width: 100%;
  height: 385px;
  padding: 165px 50px 207px;
  color: #ffffff;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  width: 100%;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto 50px;
}

.cover__description-text {
  display: block;
  width: 637px;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  max-width: 1052px;
  margin: 180px 24px 0;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list .card-link {
  height: 100%;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.lots__card-list-item {
  position: relative;
  max-width: 334px;
  min-height: 596px;
  list-style: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 2;
  padding: 48px 40px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  padding: 0 40px 48px;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  margin: 120px 24px 180px;
}

.about__logo__column {
  padding: 35px 0 0 0;
}

.about__logo__background {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.about-column {
  margin-top: 136px;
}

.about__title {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 688px;
  margin-top: 100px;
  color: #000000;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  padding-bottom: 82px;
}

.footer_address {
  justify-self: start;
  padding-left: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  font-weight: normal;
  font-size: 18px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  gap: 48px;
  padding-right: 50px;
}

.footer__social-list-item {
  list-style: none;
}
